__pycache__/
*.jar
*.log
*.pyc
**/._*
**/.DS_Store
**/.svelte-kit/
**/*.bak
**/build/
**/target/
benchmarks.txt
build/
controller_demo
core/**/*.bin
core/**/*.exe
core/**/*.out
core/maccs
coverage/
dcpy
demo_client
echo_mesh_uds
examples/
file_ingester
file_writer
filedump.txt
fridge/**/target/
gox
gox
input/
mocks/*/.env
mocks/*/node_modules/
mocks/consumer-java/target/
mocks/marketplace/node_modules/
mocks/producer-java/target/
node_modules/
output/
pipeline_demo
processor
test_output.log
text_transformer
wip.txt
